/* Bad media feature */

/* Require a single space after the colon in media features. */
@media (max-width:600px) {
  .foo {
    color: #62f;
  }
}

/* Disallow whitespace before the colon in media features. */
@media (max-width :600px) {
  .bar {
    color: #62f;
  }
}

/* Disallow vendor prefixes for media feature names. */
@media (-webkit-min-device-pixel-ratio: 1) {
  .baz {
    color: #62f;
  }
}

/* There must always be a single space after the range operator. */
@media (max-width>=600px) {
  .qux {
    color: #62f;
  }
}

/* There must always be a single space before the range operator. */
@media (max-width>= 600px) {
  .quux {
    color: #62f;
  }
}
