/* Good media query list examples */

@media screen and (color), projection and (color) {
  .baz {
    color: #62f;
  }
}

@media screen and (color),
  projection and (color) {
  .foo {
    color: #62f;
  }
}

@media screen and (color), projection and (color) {
  .bar {
    color: #62f;
  }
}

@media screen and (color),
  projection and (color) {
  .qux {
    color: #62f;
  }
}
